{% extends "base.html" %} {% block content %}
<div style="margin: 20px 100px">
  <div class="input-group mb-3">
    <input
      id="search-text"
      type="text"
      class="form-control"
      placeholder="Search tracks, artists or albums on Spotify"
      aria-label="Search tracks or artists on Spotify"
      aria-describedby="button-addon2"
      style="border-radius: 20px; position: relative"
    />
    <a
      tabindex="0"
      class="btn btn-primarys"
      style="
        position: absolute;
        right: 0;
        background: brown;
        border-radius: 20px;
        color: #fff;
        width: 20%;
        z-index: 999;
      "
      type="button"
      id="search-button"
      role="button"
      data-bs-toggle="popover"
      data-bs-trigger="focus"
      title="Error"
      data-bs-content="The search field can't be empty"
      >Search</a
    >
  </div>
</div>
<section>
  <div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      "
    >
      <h3>Search Result</h3>
      <i
        class="fas fa-filter"
        style="right: 0"
        data-toggle="modal"
        data-target="#filterModal"
      ></i>
    </div>
    <div class="border rounded" style="margin-bottom: 20px">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 30%">Song</th>
            <th scope="col" style="width: 30%">Artist</th>
            <th scope="col" style="width: 30%">Album</th>
            <th scope="col" style="width: 5%">Year</th>
            <th scope="col" style="width: 5%"></th>
          </tr>
        </thead>
        <tbody id="search-table"></tbody>
      </table>
    </div>
  </div>
  <div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      "
    >
      <h3>Recommend</h3>
      <i class="fas fa-trash" id="empty-button" style="right: 0"></i>
    </div>
    <div class="border rounded" style="margin-bottom: 20px">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 30%">Song</th>
            <th scope="col" style="width: 30%">Artist</th>
            <th scope="col" style="width: 30%">Album</th>
            <th scope="col" style="width: 5%">Year</th>
            <th scope="col" style="width: 5%"></th>
          </tr>
        </thead>
        <tbody id="search-table"></tbody>
      </table>
    </div>
  </div>
  <button
    id="submit-button"
    class="btn btn-primary btn-block"
    style="background: brown; color: white"
  >
    Submit
  </button>
</section>

<!-- Filter Modal -->
<div
  class="modal fade"
  id="filterModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="filterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter by Year</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="fromYear">From Year:</label>
            <input
              type="number"
              class="form-control"
              id="fromYear"
              placeholder="Enter from year"
            />
          </div>
          <div class="form-group">
            <label for="toYear">To Year:</label>
            <input
              type="number"
              class="form-control"
              id="toYear"
              placeholder="Enter to year"
            />
          </div>
        </form>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="listedArtists"
          />
          <label class="form-check-label" for="listedArtists">
            Exclude artists in this list
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="popularArtists"
          />
          <label class="form-check-label" for="popularArtists">
            Exclude popular artists
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="explicit"
          />
          <label class="form-check-label" for="popularArtists">
            Exclude explicit tracks
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          style="border: none; border-radius: 20px"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          style="
            background: brown;
            color: #fff;
            border: none;
            border-radius: 20px;
          "
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div
    id="spinner_search"
    class="spinner-grow"
    style="display: none; width: 20%; height: auto; margin-top: 10rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div id="recommendations_div" style="display: none">
  <div
    style="
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
    "
  >
    <div class="border-bottom" style="margin-bottom: 20px">
      <h2 class="display-4">Results</h2>
    </div>
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col" style="width: 30%">Song</th>
          <th scope="col" style="width: 25%">Artist</th>
          <th scope="col" style="width: 30%">Album</th>
          <th scope="col" style="width: 3%">Year</th>
          <th scope="col" style="width: 12%"></th>
        </tr>
      </thead>
      <tbody id="recommendations_table"></tbody>
    </table>
    <div class="d-grid gap-2">
      <button
        id="go_back_button"
        type="button"
        class="btn btn-primary btn-block"
      >
        Go back to search other tracks
        <svg
          style="bottom: 0.1em; left: 0.2em; position: relative"
          class="bi"
          width="20"
          height="20"
          fill="currentColor"
        >
          <use
            xlink:href="static/icons/bootstrap-icons.svg#arrow-counterclockwise"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
<script type="module" src="../static/js/home.js"></script>
{% endblock %}
